<!DOCTYPE html>
<html lang="hu"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" th:src="@{/js/placetable.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TollWeb</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a class="nav-link" href="/">Kezdőlap</a></li>
            <li><a class="nav-link" href="/map">Térkép</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="hasRole('ADMIN')"><a class="nav-link active" href="/admin">Admin</a></li>
            <li><a class="nav-link navbar-right" href="/logout">Kilépés</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="display-1">TollWeb</h1>
        </div>
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <form data-th-action="@{/action}" method="post">
                    <button type="submit" class="btn btn-info" value="update">Telefon kontaktok frissítése</button>
                </form>
            </div>
            <div class="p-2">
                <button type="submit" class="btn btn-info show-btn" value="update">Új kontakt felvétele</button>
            </div>
        </div>
        <form class="row new-contact m-3" style="display: none;">
            <input type="text" id="name" required class="col mr-2" placeholder="Név">
            <input type="text" id="city" required class="col mr-2" placeholder="Város">
            <input type="text" id="phoneNumber" required class="col mr-2" placeholder="Telefonszám">
            <input type="text" id="amount" required class="col mr-2" placeholder="Mennyiség">
            <input type="date" id="date" required class="col mr-2" placeholder="Dátum">
            <select class="col mr-2" id="source">
                <option value="Facebook">Facebook</option>
                <option value="Email">Email</option>
                <option value="Telefon">Telefon</option>
            </select>
            <button onclick="insertNewPlace()" class="btn btn-info">Mentés</button>
        </form>

        <div class="row">
            <div class="col">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-table1">Aktív</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-table2">Inaktív</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-table3">Személyes</a>
                    </li>
                </ul>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs searchable-tab">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="/">Összes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#telefon">Telefon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#email">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#facebook">Facebook</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-table1">
                        <table id="activePlaceTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Név</th>
                                <th>Város</th>
                                <th>Telefonszám</th>
                                <th>Mennyiség</th>
                                <th>Dátum</th>
                                <th>Státusz</th>
                                <th>Forrás</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="place : ${places}" th:id="${place.getId()}">
                                <td th:text="${place.getName()}"></td>
                                <td th:text="${place.getCity()}"></td>
                                <td th:text="${place.getPhoneNumber()}"></td>
                                <td th:text="${place.getAmount()}"></td>
                                <td th:text="${place.getSyncDate()}"></td>
                                <td th:text="${place.getStatus()}"></td>
                                <td th:text="${place.getSource()}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" th:attr="onclick=|editRow('${place.getId()}')|" >Szerkesztés</button>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="tab-table2">
                        <table id="inactivePlaceTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Név</th>
                                <th>Város</th>
                                <th>Telefonszám</th>
                                <th>Mennyiség</th>
                                <th>Dátum</th>
                                <th>Státusz</th>
                                <th>Forrás</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="place : ${places}" th:id="${place.getId()}">
                                <td th:text="${place.getName()}"></td>
                                <td th:text="${place.getCity()}"></td>
                                <td th:text="${place.getPhoneNumber()}"></td>
                                <td th:text="${place.getAmount()}"></td>
                                <td th:text="${place.getSyncDate()}"></td>
                                <td th:text="${place.getStatus()}"></td>
                                <td th:text="${place.getSource()}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" th:attr="onclick=|editRow('${place.getId()}')|" >Szerkesztés</button>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    <div class="tab-pane" id="tab-table3">
                        <table id="personalPlaceTable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Név</th>
                                <th>Város</th>
                                <th>Telefonszám</th>
                                <th>Mennyiség</th>
                                <th>Dátum</th>
                                <th>Státusz</th>
                                <th>Forrás</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="place : ${places}" th:id="${place.getId()}">
                                <td th:text="${place.getName()}"></td>
                                <td th:text="${place.getCity()}"></td>
                                <td th:text="${place.getPhoneNumber()}"></td>
                                <td th:text="${place.getAmount()}"></td>
                                <td th:text="${place.getSyncDate()}"></td>
                                <td th:text="${place.getStatus()}"></td>
                                <td th:text="${place.getSource()}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" th:attr="onclick=|editRow('${place.getId()}')|" >Szerkesztés</button>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

<script>
    function editRow(id) {
        let originalContent = document.getElementById(id).innerHTML;
        let rowElements = document.getElementById(id).getElementsByTagName("td");

        var i;
        for (i = 0; i < rowElements.length - 3; i++) {
            var inputNode = document.createElement("input");
            inputNode.type = "text";
            inputNode.value = rowElements[i].textContent;
            inputNode.id = id + '_' + i;

            rowElements[i].innerHTML = "";
            rowElements[i].appendChild(inputNode);
        }

        var selectStatusNode = document.createElement("select");
        selectStatusNode.id = id + "_5"
        var firstStatusOption = document.createElement("option");
        firstStatusOption.innerText = "Aktív";
        firstStatusOption.value = "Aktív"
        var secondStatusOption = document.createElement("option");
        secondStatusOption.innerText = "Törölve";
        secondStatusOption.value = "Törölve";
        var thirdstatusOption = document.createElement("option");
        thirdstatusOption.innerText = "Személyes";
        thirdstatusOption.value = "Személyes";

        selectStatusNode.appendChild(firstStatusOption);
        selectStatusNode.appendChild(secondStatusOption);
        selectStatusNode.appendChild(thirdstatusOption);

        rowElements[5].innerHTML = "";
        rowElements[5].appendChild(selectStatusNode);

        var selectSourceNode = document.createElement("select");
        selectSourceNode.id = id + "_6"
        var firstSourceOption = document.createElement("option");
        firstSourceOption.innerText = "Telefon";
        firstSourceOption.value = "Telefon";
        var secondSourceOption = document.createElement("option");
        secondSourceOption.innerText = "Facebook";
        secondSourceOption.value = "Facebook";
        var thirdSourceOption = document.createElement("option");
        thirdSourceOption.innerText = "Email";
        thirdSourceOption.value = "Email";

        selectSourceNode.appendChild(firstSourceOption);
        selectSourceNode.appendChild(secondSourceOption);
        selectSourceNode.appendChild(thirdSourceOption);

        rowElements[6].innerHTML = "";
        rowElements[6].appendChild(selectSourceNode);

        //Crete save button!
        var saveButton = document.createElement("button");
        saveButton.className = "btn btn-primary btn-sm";
        saveButton.addEventListener("click", function() {
            var place = {
                id: id,
                name: document.getElementById(id + '_0').value,
                city: document.getElementById(id + '_1').value,
                amount: document.getElementById(id + '_3').value,
                phoneNumber: document.getElementById(id + '_2').value,
                syncDate: document.getElementById(id + '_4').value,
                status: document.getElementById(id + '_5').value,
                source: document.getElementById(id + '_6').value,
            };

            var token = $("meta[name='_csrf']").attr("content");
            $.ajax({
                url : '/saveplace', // url to make request
                headers: {"X-CSRF-TOKEN": token}, //send CSRF token in header
                contentType: "application/json",
                type : 'POST',
                data: JSON.stringify(place),
                success: function(){
                    location.reload();
                }
            });
        });
        saveButton.innerHTML = "Mentés";

        //Crete cancel button!
        var cancelButton = document.createElement("button");
        cancelButton.className = "btn btn-primary btn-sm";

        cancelButton.addEventListener("click", function(){
            document.getElementById(id).innerHTML = originalContent;
        });
        cancelButton.innerHTML = "Mégse";

        rowElements[7].innerHTML = "";
        rowElements[7].appendChild(saveButton);
        rowElements[7].appendChild(cancelButton);
    }
</script>
</body>
</html>